html {

  --color-base: #333;
  --color-primary: #f90;
  --color-secondary: #0fc;

  --fontSize: 24px;

  box-sizing: border-box;
  font-family: sans-serif;
  font-size: var(--fontSize);
}

html,
body {
  height: 100%;
}

body,
p {
  margin: 0;
}

main,
footer {
  color: var(--color-base);
  padding: 5vw;
  position: relative;
}

p + p {
  margin-top: 1rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: solid calc(var(--fontSize) * 0.15) var(--color-primary);
  transition-property: color, border-color;
  transition-duration: 0.2s;
  display: inline-block;
  position: relative;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  a[href="https://cantilever.co"]::before {
    display: block;
    content: '';
    position: absolute;
    width: 80%;
    z-index: -1;
    opacity: 0;
    left: 40%;
    top: 50%;
    width: 400%;
    height: 200%;
    background: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%20156%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M50.28%2C25.299%20C52.58%2C25.299%2054.811%2C24.724%2055.8%2C23.965%20L55.8%2C20.676%20L53.063%2C20.676%20C52.787%2C22.585%2052.281%2C23.505%2050.464%2C23.505%20C48.831%2C23.505%2047.612%2C22.631%2047.612%2C17.065%20C47.612%2C11.867%2048.601%2C10.556%2050.556%2C10.556%20C52.028%2C10.556%2052.488%2C11.476%2052.833%2C13.224%20L55.685%2C13.224%20L55.685%2C9.866%20C54.466%2C9.107%2052.764%2C8.693%2050.602%2C8.693%20C46.048%2C8.693%2042.92%2C11.177%2042.92%2C17.249%20C42.92%2C22.493%2045.634%2C25.299%2050.28%2C25.299%20Z%20M68.013%2C21.366%20C68.013%2C23.091%2068.289%2C23.367%2069.37%2C23.367%20L69.37%2C24.471%20C68.841%2C24.816%2067.898%2C25.138%2066.702%2C25.138%20C65.368%2C25.138%2064.448%2C24.517%2064.218%2C23.551%20C63.85%2C24.425%2062.861%2C25.299%2061.021%2C25.299%20C59.02%2C25.299%2057.364%2C24.333%2057.364%2C21.872%20C57.364%2C19.158%2059.25%2C17.962%2062.861%2C17.962%20C63.137%2C17.962%2063.804%2C17.985%2064.103%2C18.008%20L64.103%2C16.927%20C64.103%2C15.271%2063.666%2C14.535%2062.631%2C14.535%20C61.573%2C14.535%2061.297%2C15.363%2061.136%2C16.651%20L58.169%2C16.651%20L58.169%2C14.167%20C59.48%2C13.385%2061.412%2C12.833%2063.39%2C12.833%20C66.081%2C12.833%2068.105%2C14.006%2068.105%2C16.697%20C68.105%2C17.387%2068.013%2C19.273%2068.013%2C21.366%20Z%20M64.057%2C19.388%20L63.252%2C19.388%20C62.125%2C19.388%2061.435%2C20.055%2061.435%2C21.32%20C61.435%2C22.47%2061.872%2C22.838%2062.562%2C22.838%20C62.953%2C22.838%2063.62%2C22.7%2063.988%2C22.309%20L64.057%2C19.388%20Z%20M82.848%2C16.49%20C82.848%2C13.96%2081.33%2C12.833%2079.421%2C12.833%20C77.604%2C12.833%2076.362%2C13.776%2075.373%2C14.926%20C75.281%2C13.96%2074.752%2C13.017%2074.614%2C12.833%20L74.269%2C12.833%20L70.221%2C13.753%20L70.221%2C14.88%20C71.279%2C14.926%2071.486%2C15.156%2071.486%2C16.835%20L71.486%2C22.24%20C71.486%2C23.551%2071.256%2C23.85%2070.175%2C23.85%20L70.175%2C25%20L76.776%2C25%20L76.776%2C23.85%20C75.695%2C23.85%2075.465%2C23.551%2075.465%2C22.24%20L75.465%2C16.214%20C75.925%2C15.938%2076.546%2C15.593%2077.42%2C15.593%20C78.317%2C15.593%2078.869%2C16.053%2078.869%2C17.456%20L78.869%2C22.24%20C78.869%2C23.551%2078.639%2C23.85%2077.558%2C23.85%20L77.558%2C25%20L84.159%2C25%20L84.159%2C23.85%20C83.078%2C23.85%2082.848%2C23.551%2082.848%2C22.24%20L82.848%2C16.49%20Z%20M92.738%2C13.132%20L89.955%2C13.132%20C89.955%2C11.959%2090.047%2C10.602%2090.162%2C9.774%20L87.218%2C10.073%20C86.62%2C10.947%2086.275%2C12.028%2086.16%2C13.063%20L84.619%2C13.707%20L84.619%2C15.064%20L85.999%2C15.064%20L85.999%2C21.895%20C85.999%2C24.517%2087.218%2C25.299%2089.472%2C25.299%20C90.921%2C25.299%2092.025%2C24.977%2092.968%2C24.379%20L92.531%2C23.022%20C92.002%2C23.229%2091.657%2C23.321%2091.22%2C23.321%20C90.07%2C23.321%2089.978%2C22.585%2089.978%2C20.929%20L89.978%2C15.064%20L92.347%2C15.064%20L92.738%2C13.132%20Z%20M100.144%2C25%20L100.144%2C23.85%20C99.063%2C23.85%2098.833%2C23.551%2098.833%2C22.24%20L98.833%2C12.994%20L98.258%2C12.994%20L93.589%2C13.753%20L93.589%2C14.88%20C94.647%2C14.926%2094.854%2C15.156%2094.854%2C16.835%20L94.854%2C22.24%20C94.854%2C23.551%2094.624%2C23.85%2093.543%2C23.85%20L93.543%2C25%20L100.144%2C25%20Z%20M99.017%2C10.004%20C99.017%2C8.762%2098.028%2C7.75%2096.763%2C7.75%20C95.475%2C7.75%2094.417%2C8.762%2094.417%2C10.004%20C94.417%2C11.246%2095.452%2C12.258%2096.694%2C12.258%20C97.982%2C12.258%2099.017%2C11.246%2099.017%2C10.004%20Z%20M106.17%2C10.372%20C106.17%2C8.785%20105.779%2C8.187%20105.687%2C8.072%20L105.342%2C8.072%20L100.834%2C8.67%20L100.834%2C9.797%20C101.892%2C9.843%20102.191%2C10.073%20102.191%2C11.752%20L102.191%2C22.24%20C102.191%2C23.551%20101.961%2C23.85%20100.88%2C23.85%20L100.88%2C25%20L107.481%2C25%20L107.481%2C23.85%20C106.4%2C23.85%20106.17%2C23.551%20106.17%2C22.24%20L106.17%2C10.372%20Z%20M115.899%2C23.045%20C116.865%2C23.045%20117.9%2C22.838%20118.958%2C22.332%20L119.556%2C23.344%20C118.245%2C24.701%20116.658%2C25.299%20114.45%2C25.299%20C110.747%2C25.299%20108.631%2C23.022%20108.631%2C19.043%20C108.631%2C15.11%20110.931%2C12.833%20114.473%2C12.833%20C118.383%2C12.833%20119.763%2C15.041%20119.763%2C18.583%20L119.763%2C19.71%20L112.932%2C19.71%20C113.024%2C22.01%20113.783%2C23.045%20115.899%2C23.045%20Z%20M114.519%2C14.42%20C113.53%2C14.42%20113.116%2C15.225%20112.955%2C17.962%20L115.853%2C17.962%20C115.853%2C15.202%20115.508%2C14.42%20114.519%2C14.42%20Z%20M128.618%2C25.115%20L132.022%2C15.639%20C132.413%2C14.581%20132.689%2C14.42%20133.609%2C14.305%20L133.609%2C13.132%20L128.572%2C13.132%20L128.572%2C14.305%20C129.446%2C14.305%20129.883%2C14.558%20129.883%2C15.133%20C129.883%2C15.294%20129.86%2C15.455%20129.791%2C15.662%20L128.48%2C19.917%20C128.227%2C20.699%20128.066%2C21.458%20128.043%2C21.619%20L127.905%2C21.619%20C127.882%2C21.389%20127.79%2C20.837%20127.491%2C19.917%20L126.042%2C15.639%20C125.973%2C15.455%20125.927%2C15.271%20125.927%2C15.11%20C125.927%2C14.627%20126.272%2C14.305%20127.169%2C14.305%20L127.169%2C13.132%20L120.453%2C13.132%20L120.453%2C14.305%20C121.235%2C14.42%20121.419%2C14.581%20121.833%2C15.639%20L125.513%2C25.115%20L128.618%2C25.115%20Z%20M141.107%2C23.045%20C142.073%2C23.045%20143.108%2C22.838%20144.166%2C22.332%20L144.764%2C23.344%20C143.453%2C24.701%20141.866%2C25.299%20139.658%2C25.299%20C135.955%2C25.299%20133.839%2C23.022%20133.839%2C19.043%20C133.839%2C15.11%20136.139%2C12.833%20139.681%2C12.833%20C143.591%2C12.833%20144.971%2C15.041%20144.971%2C18.583%20L144.971%2C19.71%20L138.14%2C19.71%20C138.232%2C22.01%20138.991%2C23.045%20141.107%2C23.045%20Z%20M139.727%2C14.42%20C138.738%2C14.42%20138.324%2C15.225%20138.163%2C17.962%20L141.061%2C17.962%20C141.061%2C15.202%20140.716%2C14.42%20139.727%2C14.42%20Z%20M151.503%2C15.892%20C151.434%2C14.259%20150.836%2C13.086%20150.675%2C12.833%20L150.33%2C12.833%20L146.282%2C13.753%20L146.282%2C14.88%20C147.34%2C14.926%20147.547%2C15.156%20147.547%2C16.835%20L147.547%2C22.24%20C147.547%2C23.551%20147.317%2C23.85%20146.236%2C23.85%20L146.236%2C25%20L153.297%2C25%20L153.297%2C23.85%20C151.802%2C23.85%20151.526%2C23.551%20151.526%2C22.24%20L151.526%2C18.859%20C151.526%2C17.249%20151.94%2C16.766%20153.619%2C16.766%20C154.263%2C16.766%20154.608%2C16.835%20155.114%2C16.973%20L155.827%2C12.994%20C155.643%2C12.925%20155.275%2C12.833%20154.884%2C12.833%20C153.619%2C12.833%20151.963%2C13.753%20151.503%2C15.892%20Z%22%20id%3D%22Cantilever%22%20fill%3D%22%23222%22%3E%3C%2Fpath%3E%3Cg%3E%3Cpolygon%20fill%3D%22%2333CCFF%22%20points%3D%226.25801744%2025.7059914%201.9977518e-05%206.93195901%2018.7740523%2013.1899565%2025.0320498%2031.9640288%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22%23FF7373%22%20points%3D%228.5686771%2023.3953517%202.31067964%204.62131933%2021.084712%2010.8793168%2027.3427095%2029.6533891%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22%23FFEF40%22%20points%3D%2210.8793208%2021.084708%204.62132332%202.31063569%2023.3953557%208.56867311%2029.6533931%2027.3427055%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22%2387D94C%22%20points%3D%2213.1899804%2018.7740683%206.93198298%20-3.9955036e-06%2025.7059754%206.25799347%2031.9640128%2025.0320658%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
    transition-property: opacity, left;
    transition-duration: 0.2s;
  }

  a[href="https://cantilever.co"]:hover::before {
    opacity: 0.2;
    left: 50%;
  }
}

a:active {
  color: white;
  border-color: white;
  background-color: var(--color-secondary);
}